<!DOCTYPE html>

<!-- based on: http://startbootstrap.com/template-overviews/freelancer/ -->
<!-- color: http://paletton.com/#uid=73c0u0krVDHiiIcn4EZDlDXFFsx -->

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="(Video)call quickly and easily without any installation or registration!">
		<meta name="author" content="Mark">
		<link rel="shortcut icon" href="img/phone.png" /> <!-- source: http://www.clker.com/clipart-12243.html -->
		<title>Trivicall.com</title>
		<link rel="stylesheet" href="env/bower/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="env/bower/bootstrap/dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="style.css" />
		<!--<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#page-top">Webcall</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="page-scroll">
							<a href="#about">About</a>
						</li>
						<li class="page-scroll">
							<a href="#contact">Contact</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<header>
			<img src="img/phone.png" alt="" />
			No installation
			No registration
			All you need is a modern browser
			Voice call, video call, text chat(name?) with two people or a group
		</header>

		<section id="start">
			Ready? Go!
		</section>

		<script src="env/bower/jquery/dist/jquery.min.js"></script>
		<script src="env/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>


<!--
	</head>

	<body>
		<div id='main_menu' {% block menu_attr %}{% endblock menu_attr %}>
			{% block main_menu %}
				<ol class="li_a_upgrade">
					{% block menu_home %}
						<li class="{% if_url 'home' %}"><a href='{% url 'home' %}'><i class="glyphicon glyphicon-home"></i> home</a></li>
					{% endblock menu_home %}
					{% block menu_info %}
						{% block statix_menu_info %}{% endblock statix_menu_info %}
					{% endblock menu_info %}
					{% block menu %}
					{% endblock menu %}
					{% block menu_auth %}
						{% if request.user.is_authenticated %}
							<li class="{% if_url 'logout' %}"><a href='{% url 'logout' %}?next={{ request.path }}'><i class="glyphicon glyphicon-off"></i> logout</a></li>
							<li class="{% if_url 'profile' %}><a href='{% url 'profile' %}'><i class="glyphicon glyphicon-edit"></i> account</a></li>
						{% else %}
							<li class="{% if_url 'login' %}"><a href='{% url 'login' %}?next={{ request.path }}'><i class="glyphicon glyphicon-user"></i> login</a></li>
						{% endif %}
					{% endblock menu_auth %}
				</ol>
			{% endblock main_menu %}
		</div>

		<div id='page' {% block page_attr %}{% endblock page_attr %}>
			<div id='content' {% block content_attr %}{% endblock content_attr %}>
				{% block content_area %}
					{% block content %}
						empty document for frame.html
					{% endblock content %}
				{% endblock content_area %}
			</div>
		</div>

		<div id='footer_area' {% block footer_area_attr %}{% endblock footer_area_attr %}>
			<div id='footer' {% block footer_attr %}{% endblock footer_attr %}>
				<div id='name' {% block name_attr %}{% endblock name_attr %}>
					{% block page_name %}{{ TITLE_BASE }}{% endblock page_name %}
				</div>
				<ul {% block footer_list_attr %}{% endblock footer_list_attr %}>
					{% block page_footer %}
						{% block footer_admin %}
							{% if request.user.is_superuser %}
								<li><a href="{% url 'dump-data' %}">backup</a></li>
							{% endif %}
							{% if request.user.is_staff %}
								<li><a href="/admin/">admin</a></li>
							{% endif %}
						{% endblock footer_admin %}
						{% block footer %}
						{% endblock footer %}
						{% block footer_about %}
							{% block statix_footer_about %}{% endblock statix_footer_about %}
						{% endblock footer_about %}
					{% endblock page_footer %}
				</ul>
			</div>
		</div>
	</body>
</html>

-->
